@import "../../settings.scss";

.home-container{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	padding:0;
	list-style-type: none;
	margin-bottom: 0;

  a{
    color: $aoc-main-color !important;
    &:hover{
      text-decoration: none !important;
    }
  }

	.aoc-home-item{
		height: auto;
		width: 50%;
		cursor: pointer;
		position:relative;

		img{
			height: auto;
			width: 100%;
		}
		.aoc-home-category-name{
			position: absolute;
			color:white;
			font-size: 25px;
			bottom: 30px;
			margin-left:30px;
			&:after{
				content:" \f178";
				font-family: FontAwesome,serif;
				font-size: 24px;
			}
		}
		&:nth-of-type(6n-5),&:nth-of-type(6n-2){
			background-color: #38b58b;
			&:hover{
				background-color: #299b75;
			}
		}
		&:nth-of-type(6n-3),&:nth-of-type(6n){
			background-color: #aee0c5;
			&:hover{
				background-color: #9cc9b1;
			}
		}
		&:nth-of-type(6n-4),&:nth-of-type(6n-1){
			background-color: #cbeaeb;
			&:hover{
				background-color: #b6d2d3;
			}
		}
		&.first-item{
			background-color: #cbeaeb;
			&:hover{
				background-color: #b6d2d3;
			}
		}
		&.second-item{
			background-color: #aee0c5;
			&:hover{
				background-color: #9cc9b1;
			}
		}
	}
	.aoc-home-advertisement{
		width: 100%;
		font-size: 36px;
		padding:40px 0;
		text-align: center;
		cursor: pointer;
		&:hover{
			background-color: #f3f3f3;
		}
		&:after{
			content:"\f178";
			font-family: FontAwesome,serif;
			font-size: 24px;
		}
	}
	@include media-breakpoint-down(md){
		.aoc-home-advertisement{
			font-size: 20px;
			padding: 20px 0;
			&:after{
				font-size: 18px;
			}
		}
	}
	@include media-breakpoint-down(sm){
		.aoc-home-item{
			width: 100%;
		}
	}
}
