@import "../../settings";

.aoc-product-details-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $aoc-product-details-bg-color;

  .product-details-img-area{
    max-width: 770px;
    position: relative;

    .product-details-spec-img{
      width: 100%;
      height: auto;
      position: absolute;
      left:0;
      top:0;
      &.block{
        display: none;
      }
    }
    .product-details-img{
      width: 100%;
      height: auto;
    }
  }
  .product-details-main-info{
    display: flex;
    color:$aoc-main-color;
    .product-details-main-info-name{
      font-size: 36px;
      font-weight: 400;
      margin-right: 30px;
      line-height: 26px !important;
    }
    .product-details-main-info-price{
      font-size:24px;
      line-height: 36px !important;
    }
  }
  .product-details-info{
    margin-top:5px;
    color:$aoc-main-color-second;
    .product-details-show-spec{
      cursor:pointer;
      margin-left:20px;
      color:$aoc-link-color;
      &:hover{
        text-decoration: none;
        color:$aoc-link-color-hover;
      }
    }
  }
  .product-details-desc{
    margin-top:15px;
  }
  .product-details-img-additional{
    width: 100%;
    height: auto;
    margin-top:30px;
  }
}
