@import "../../settings";

#aoc-products-wrap{
  .product-main-image{
    width: 100%;
    height: auto;
  }
  .products-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    a{
      color:$aoc-main-color !important;
      &:hover{
        text-decoration: none !important;
      }
    }

    .product-item{
      padding:15px;
      width: percentage(1/6);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &:hover{
        background-color: #fbfbfb;
        cursor: pointer !important;
      }

      img{
        margin-bottom:15px;
      }
    }
  }
}
