@import "../../../styles/settings.scss";

.product-filter{
  display: flex;
  flex-direction: row;
  .dropdown-filter{
    &:nth-of-type(2n+1){
      background-color: $aoc-bg;
      .dropdown-list{
        background-color: $aoc-bg;
      }
    }
  }
}
