/*settings*/
@import "../styles/settings.scss";

// header
//@import "../styles/components/common/header.scss";

.upper_case{
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.bold {
	font-weight: bold;
}

.hidden {
	display: none;
}

.lower-case {
	text-transform: lowercase;
}

button:focus,
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus,
input:focus {
	outline: none;
}

body{
	box-sizing: border-box;
	font-family: $font-family-base;
	color:$aoc-main-color;
	ul{
		margin:0;
		padding:0;
		list-style-type: none;
	}
	.main_container{
		width: auto;
		position: relative;
	}
}

