@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../node_modules/bootstrap/scss/_variables";

$font-family-base: nimbus-sans,sans-serif;

/* COLORS */

/* Style Guide Colors */
$aoc-main-color:#585858;
$aoc-main-color-second:#949494;
$aoc-main-color-light:#B0B0B0;
$aoc-main-color-hover:#949494;
$aoc-add-to-cart-bg-color:#a3d1d3;
$aoc-link-color:#5688a3;
$aoc-link-color-hover:#6799a3;
$aoc-bg:#F9F9F9;


/* Header */
$aoc-header-menu-bg-color:#F9F9F9;
$aoc-header-cart-bg-color:#F4F4F4;

/* Footer */
$aoc-footer-bg-color:#F9F9F9;
$aoc-footer-color:$aoc-main-color;
$aoc-footer-button-up-bg-color:#F4F4F4;
$aoc-footer-button-up-hover-bg-color:#D9D9D9;

/* Product details page */
$aoc-product-details-bg-color:#E6E6E6
