@import "../../settings";


.aoc-product-details-buttons-section{
  margin-top: 30px;
  display: flex;

  .count-buttons{
    border:1px solid white;
    display: flex;

    >div{
      height: 48px;
      display: flex;
      color:$aoc-main-color;
      justify-content: center;
      align-items: center;
    }
    .count-minus, .count-plus{
      width: 49px;
      background-color: white;
      font-size: 24px;
      cursor: pointer;
      border:none;
      box-shadow: none;
      &:hover{
        color:$aoc-main-color-second;
      }
      &.block{
        color:$aoc-main-color-second;
      }
    }
    .count-minus{

    }
    .count{
      width: 50px;
      font-size: 18px;
    }
    .count-plus{

    }
  }

  .add-to-cart{
    background-color: $aoc-add-to-cart-bg-color;
    color:$aoc-main-color;
    padding: 5px 30px 5px 30px;
    margin-left:15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      background-color: #bbdddf;
    }
  }
}
