@import "../../../styles/settings.scss";

.dropdown-filter{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;

  .filterName{
    color: $aoc-main-color;
    &:after{
      margin-left: 5px;
      content: '\f0d7';
      font-family: FontAwesome,serif;
    }
  }
  &:hover{
    .filterName {
      color: $aoc-main-color-light;
    }
  }

  .close{
    display: none;
  }

  .dropdown-list{
    display: none;
    position: absolute;
    bottom:-80px;
    width:100%;
    flex-direction: column;
    align-items: center;
    li{
      margin-bottom: 15px;
    }
  }

  &.open{
    .filterName{
      display: none;
    }
    .close{
      display: block;
    }
    .dropdown-list{
      display: flex;
    }
  }
}
