@import "../../../styles/settings.scss";

footer{
	background-color: $aoc-footer-bg-color;
	width: 100%;
	display: flex !important;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	nav{
		width: 45%;
		ul{
			display: flex;
			flex-direction: row;
			justify-content: center;
			li{
				display: inline-block;
				cursor: pointer;
				text-align: center;
				margin:10px;
				a{
					color:$aoc-footer-color;
					font-size: 14px;
					&:hover{
						color:$aoc-main-color-hover;
					}
				}
			}
		}
	}
	.aoc-footer-page-up{
		width: 80px;
		height: 80px;
		background-color: $aoc-footer-button-up-bg-color;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		cursor: pointer;
		&:hover{
			background-color: $aoc-footer-button-up-hover-bg-color;
		}
	}
	@include media-breakpoint-down(sm){
		flex-direction: column;
		nav{
			margin-bottom: 20px;
			ul{
				flex-direction: column;
				li{
					a{
						font-size: 18px;
					}
				}
			}
		}
		.aoc-footer-page-up{
			order: 1;
		}
	}
}
