@import "../../settings";

$aafes-h-font-size: 12px;

#app{
	margin-top: 80px;
}

header {
	width: 100%;
	z-index: 10;
	position: fixed;
	right:0;
	margin-top: -80px;
	.row{
		margin:0;
	}
	@mixin aoc-action-item(){
		cursor: pointer;
		color:$aoc-main-color;
		a,span{
			color:$aoc-main-color;
		}
		&:hover, a:hover{
			color:$aoc-main-color-hover;
			text-decoration: none;
		}
	}
	.aoc-menu{
		background-color: $aoc-header-menu-bg-color;
		nav {
			> ul {
				display: none;
				position: absolute;
				list-style-type: none;
				padding: 0;
				background-color: $aoc-header-menu-bg-color;
				width: 200%;
				color:$aoc-main-color;
				li {

				}
			}
		}
		&:hover{
			nav >ul{
				display: block;
			}
		}
	}
	.aoc-cart{
		background-color: $aoc-header-cart-bg-color;
		.aox-shopping-cart{
			display: none;
			position: absolute;
			background-color: $aoc-header-cart-bg-color;
			width: 200%;
			margin-left:-100%;
		}
		&:hover{
			.aox-shopping-cart{
				display: block;
			}
		}
	}
	.aoc-nav-item, .aoc-logo{
		text-align: center;
		font-size: 30px;
		height: 80px;
		line-height: 80px;
		padding:0;
		@include aoc-action-item();
	}
	.aoc-logo{
		text-align: left;
		font-weight: bold;
		background-color: white;
		.aoc-logo-wrapp{
			padding-left:50px;
			a{
				color:$aoc-main-color-light;
				&:after{
					margin-left:15px;
					content:"\7C\274B";
				}
        &:hover{
          text-decoration: none !important;
        }
			}
		}
	}
	@include media-breakpoint-down(sm){
		position: relative;
		.aoc-logo{
			text-align: center;
			.aoc-logo-wrapp{
				padding: 0;
			}
		}
	}
	@media(max-width: 350px){
		.aoc-logo{
			a:after{
				content: "";
			}
		}
	}
}
.aoc-header-space{
	width: 100%;
	height: 80px;
}
